.callout {

  border-width: 1px;

  padding: unset;
  
  background-color: rgba(var(--callout-color), 0.3);

}

.callout-title {

  padding: 0.5em 1em;

  background-color: rgba(var(--callout-color), 1);

  color: rgba(240,240,240);

}

.callout-content {

  padding: 0.2em 1em;

}