
.h1-l .markdown-reading-view h1:not(.embedded-note-title), .h1-l .mod-cm6 .cm-editor .HyperMD-header-1 {
    border-bottom: 1px solid var(--text-muted);
    padding-bottom: 0.1em;
    margin-block-end: 0.6em;
}

.h1-l .markdown-source-view h1:not(.embedded-note-title), .h1-l .mod-cm6 .cm-editor .HyperMD-header-1 {
    border-bottom: 1px solid var(--text-normal);
    padding-bottom: 0em;
    margin-block-end: 0.6em;
}

/* ———————————————————————————————————————————————— */


/* Do not alter headings with wikilinks */
.cm-s-obsidian .HyperMD-header-1 span.cm-hmd-internal-link {
    color:var(--header-color);
}

/* ———————————————————————————————————————————————— */

/* Adjust spacing in Reading and Source modes */
.markdown-source-view.mod-cm6 .HyperMD-header-2 { padding-bottom: 0.5em; }
.markdown-source-view.mod-cm6 .HyperMD-header-2 { padding-bottom: 0.5em; }
.markdown-source-view.mod-cm6 .HyperMD-header-3 { padding-bottom: 0.5em; }
.markdown-source-view.mod-cm6 .HyperMD-header-4 { padding-bottom: 0.5em; }
.markdown-source-view.mod-cm6 .HyperMD-header-5 { padding-bottom: 0.5em; }
.markdown-source-view.mod-cm6 .HyperMD-header-6 { padding-bottom: 0.5em; }


.cm-s-obsidian .HyperMD-header-2, .markdown-preview-view h2 {margin: 0.3em 0 0 0;}

